MONGODB_URI=mongodb+srv://USERNAME:PASSWORD@CLUSTER.mongodb.net/shd_immobilier?retryWrites=true&w=majority
RESEND_API_KEY=re_xxxxxxxxxxxxxxxxxxxxx
RESEND_FROM_EMAIL=SHD Immobilier <contact@votre-domaine.com>
CONTACT_TO_EMAIL=shdimmobillier@gmail.com
ADMIN_TOKEN=remplacez-par-un-token-long-et-aleatoire
NEXT_PUBLIC_BOOKING_ENGINE_URL=
